/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: #d6dadd;
}

/* Giving our navbar some padding and a background color */
.navbar {
  padding: 10px;
  align-items: right;
  /* background: #5191fd; */
}


/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
}
.box  {
    
  background-color: lightsteelblue;
}
.col-md-6{
  margin-top: 10px;
  margin-bottom: 15px;

 
}
h2 {text-align: center;}
p {text-align: center;}
 
}
.container Comparison {
  text-align: left;
  background-color: lightsteelblue;
  margin-top: 10px;
}
.card {
  text-align: center;
  background-color: lightsteelblue;
  margin-top: 10px;
}
.panel active{
  border: blue;
  box-shadow: blue;
}

.container data{
  text-align: center;
}

.row table{
  background-color: lightsteelblue;
  text-align: left;
} 





.container_footer {
  text-align: center;
  color: black;
  background-color: rgb(108, 140, 182);
}